* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    padding: 10px;
}


ul {
    margin: 10px 0;
}


#propinas,
#beneficiados,
#reporte {
    background-color: rgb(182, 202, 218);
    margin: 10px;
    border-radius: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
}

#propinas .lista div{
    width: 4rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(220, 229, 229);
    border-radius: 10px;
    text-align: center;
}

strong {
    font-size: 1.3rem;
    display: block;
    color: brown;

}

.eliminar {
    padding: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: rgb(253, 119, 119);
}

.inputs {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(27, 104, 77);
}

input,
button {
    padding: 6px;
    border: none;
    border-radius: 10px;
    width: 4rem;
}

.ficha-beneficiado {
    margin: 10px;
    border-radius: 10px;
}

.header {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(212, 212, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 50%;
}

.adelantos,
.dias-faltantes, 
.resultados {
    border-radius: 10px;
    background-color: antiquewhite;

}

.lista-dias-faltantes div,
.lista-adelantos div {
    border-radius: 3px;
    padding: 4px;
    background-color: aliceblue;
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
}

.adelantos .entradas,
.dias-faltantes .entradas {
    margin: 10px 0 0;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(132, 191, 191);

}

.ficha-beneficiado input,
.ficha-beneficiado button {
    font-size: 12px;

}

.resultados {
    padding: 10px;
}
