* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

#app {
    margin: 60px auto;
    max-width: 800px;
}

h1 {
    font-size: 1rem;
}

h2 {

font-size: 1.5rem;}

h4 {
    padding: 10px;
}


ul {
    margin: 10px 0;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

nav  ul{
    margin: 0 20px 0;
    list-style: none;
    display: flex;
}
nav  ul li{
    margin: 10px;
}

#propinas,
#beneficiados,
#resultados {
    background-color: rgb(182, 202, 218);
    margin: 10px;
    border-radius: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
}

#propinas .lista div {
    width: 4rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(220, 229, 229);
    border-radius: 10px;
    text-align: center;
}

strong {
    font-size: 1.3rem;
    display: block;
    color: brown;

}

.eliminar {
    padding: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: rgb(253, 119, 119);
}

.inputs {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(27, 104, 77);
}

input,
button,
select {
    padding: 6px;
    border: none;
    border-radius: 10px;
}

.ficha-beneficiado {
    margin: 10px;
    border-radius: 10px;
}

.ficha-beneficiado input,
.ficha-beneficiado select,
.ficha-beneficiado .adelantos button,
.ficha-beneficiado .dias-faltantes button {
    width: 4rem;
    font-size: 0.7rem;
}

.header {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(233, 233, 147);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 50%;
}

.adelantos,
.dias-faltantes,
.resultados {
    border-radius: 10px;
    background-color: antiquewhite;

}

.lista-dias-faltantes div,
.lista-adelantos div {
    border-radius: 3px;
    padding: 4px;
    background-color: aliceblue;
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
}

.adelantos .entradas,
.dias-faltantes .entradas {
    margin: 10px 0 0;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(132, 191, 191);

}

.resultados {
    padding: 10px;
}

footer {
    background: #333;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;